.bulk-ops textarea {
  font-family: var(--code-font-family);
  font-size: var(--body-size-s);
}

.bulk-ops .run-wrapper {
  display: grid;
  gap: var(--spacing-s);
  margin-top: 0.5em;
}

@media (width >= 700px) {
  .bulk-ops .run-wrapper {
    grid-template-columns: max-content max-content 1fr;
    align-items: flex-end;
  }
}

.bulk-ops .run-wrapper .button-wrapper {
  margin-bottom: 0;
}

.bulk-ops .run-wrapper .checkbox-field ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
}

.bulk-ops .status-light::before {
  color: var(--red-900);
}

.bulk-ops .status-light.http1::before {
  color: var(--blue-900);
}

.bulk-ops .status-light.http2::before {
  color: var(--green-900);
}

.bulk-ops .status-light.http3::before {
  color: var(--yellow-900);
}

.status-pill {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  min-width: 5em;
  color: #fff;
  text-align: center;
}

.status-success {
  background-color: var(--green-900);
}

.status-warning {
  background-color: var(--yellow-900);
}

.status-error {
  background-color: var(--red-900);
}

.status-details[aria-expanded="false"] {
  display: none;
}

.status-details[aria-expanded="true"] {
  margin-top: 1em;
  display: block;
}

.status-details textarea {
  width: 100%;
  height: 400px;
  font-family: var(--code-font-family);
  font-size: var(--body-size-s);
}

