.profile .button {
  line-height: initial;
}

.profile #profile {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.profile #profile .icon svg {
  width: 100%;
  height: 100%;
}

.profile button.login.ops:not(.quiet),
.profile #profile-add-save.ops {
  color: white;
  background-color: var(--gray-800);
  border-color: var(--gray-800);
}

.profile button.login.ops[disabled],
.profile #profile-add-save.ops[disabled] {
  background-color: var(--gray-400);
  border-color: var(--gray-400);
}

.profile button.login.quiet.ops {
  color: var(--gray-800);
}


.profile .profile-modal {
  box-sizing: border-box;
  position: relative;
  width: 600px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 2rem;
  line-height: 1.5;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow-default);
  overscroll-behavior: initial;
}

.profile .profile-modal .cross {
  position: relative;
  font-size: 1rem;
  text-align: center;
  color: transparent;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.profile .profile-modal .cross::before {
  content: '×';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--red-900);
  font-size: var(--font-size-800);
}

.profile .profile-modal #profile-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.profile .profile-modal #profile-close::before {
  color: var(--gray-600);
}

/* override default modal styles */
.profile .profile-modal>div {
  padding: 0;
  max-height: unset;
  overflow-y: unset;
}

.profile .profile-modal h2 {
  margin-top: 0;
}

.profile .profile-modal .profile-add-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: var(--gray-25);
  border-radius: 1rem;
  max-width: 400px;
  padding: 2rem;
  box-shadow: var(--shadow-default);
}

.profile .profile-modal .profile-add-form p {
  margin: 0 0 2rem;
  font-weight: bold;
  font-size: var(--body-size-xl);
}

.profile .profile-modal .profile-add-form input {
  margin: 0 0 1rem;
}

.profile .profile-modal #profile-projects {
  margin: 1rem 0;
  border-bottom: 1px solid var(--gray-400);
}

.profile .profile-modal #profile-projects>p {
  margin-bottom: 3rem;
}

.profile .profile-modal .profile-orgs {
  margin-top: 2rem;
}

.profile .profile-modal .profile-orgs>li {
  border-top: 1px solid var(--gray-400);
  padding: 1rem 0;
}

.profile .profile-modal .profile-orgs h3 {
  margin-top: 0;
  position: relative;
}

.profile .profile-modal .profile-orgs h3 .user-info {
  font-size: var(--body-size-m);
  font-weight: normal;
  color: var(--gray-600);
  display: block;
}

.profile .profile-modal .profile-orgs h3 .button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--body-size-l);
  line-height: normal;
}

.profile .profile-modal .profile-orgs .profile-sites li {
  line-height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  place-items: center;
  margin-bottom: 0.5rem;
}

.profile .profile-modal:not(.edit-mode) .profile-orgs .profile-sites li .cross {
  display: none;
}

.profile .profile-modal .profile-orgs .profile-sites li input[type="radio"] {
  margin: 0;
}

.profile .profile-modal .profile-orgs .profile-sites li label {
  margin: 2px 0;
}

.profile .profile-modal .profile-orgs .profile-sites li input:checked~label {
  font-weight: bold;
}

.profile .profile-modal .external-link {
  color: var(--color-link);
  margin: 0 0 -4px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: 1;
  border-radius: 4px;
}

.profile .profile-modal .external-link::after,
.profile .profile-modal .external-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px;
}

.profile .profile-modal .external-link::after {
  width: 10px;
  height: 2px;
  background: currentcolor;
  transform: rotate(-45deg);
  bottom: 8px;
}

.profile .profile-modal .external-link::before {
  width: 6px;
  height: 6px;
  top: 4px;
  border-top: 2px solid;
  border-right: 2px solid;
}

@media (width >=900px) {
  .profile .profile-modal .profile-orgs h3 .user-info {
    display: inline;
    margin-left: 0.5rem;
  }
}
