/* stylelint-disable no-descending-specificity */
header.header-wrapper {
  padding: var(--spacing-m) var(--horizontal-spacing);

  .header {
    a:any-link:not(.button) {
      color: currentcolor;
      text-decoration: none;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      gap: var(--spacing-m);
      margin: 0 auto;
      max-width: 1200px;

      button.toggle-nav {
        color: var(--color-text);
        border-color: currentcolor;
        position: relative;
        padding-inline-end: calc(1.15em + 1em);

        .toggle-nav-icon {
          position: absolute;
          right: 0.5em;
          top: 50%;
          transform: translate(0%, -50%);
          width: 1em;
          height: 1em;

          &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 50%;
            height: 2px;
            background-color: currentcolor;
            transform: translate(0%, -50%) rotate(-45deg);
            transition: all 0.3s ease-in-out;
          }

          &::after {
            right: 50%;
            transform: translate(50%, -50%) rotate(45deg);
          }
        }

        &[aria-expanded='true'] {
          .toggle-nav-icon {
            &::before, &::after {
              width: 100%;
              transform: translate(0%, -50%) rotate(45deg);
            }

            &::after {
              transform: translate(50%, -50%) rotate(-45deg);
            }
          }
        }
      }


      .nav-sections {
        position: fixed;
        top: calc(var(--header-height) + var(--spacing-s));
        bottom: var(--spacing-s);
        max-width: 325px;
        display: none;
        opacity: 0;
        background: var(--color-background);
        padding: var(--spacing-l);
        box-shadow: var(--shadow-default);
        z-index: 1;
        border-radius: var(--rounding-l);
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-behavior: allow-discrete;
        overflow-y: auto;
        overscroll-behavior: contain;

        &[aria-hidden='false'] {
          display: block;
          opacity: 1;

          @starting-style {
            opacity: 0;
          }
        }

        @media screen and (prefers-reduced-motion: reduce) {
          transition: none;
        }

        nav > ul {
          display: grid;
          gap: var(--spacing-l);

          .subsection {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-m);

            span {
              font-weight: 600;
            }

            ul {
              display: grid;
              gap: var(--spacing-s);
              margin-block-end: var(--spacing-s);
            }
          }

          a {
            &.lab-link::after {
              content: '🧪' / "Experimental tools from our labs";
              font-size: .8em;
              margin-inline: 1ch;
            }
          }
        }
      }

      .nav-tools {
        .tools-list {
          display: flex;
          gap: var(--spacing-m);
          align-items: center;
          justify-content: center;
        }

        .button.outline {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--spacing-s);
          font-size: var(--body-size-m);
          color: var(--color-text);
          border-color: var(--color-text);
          
          .icon {
            line-height: 0;
          }

          @media screen and (width <= 600px) {
            border-radius: 100%;
            padding: .4em;

            .label {
              display: none;
            }
          }
        }
      }
    }
  }
}