.bot-info-success {
    border-radius: 10px;
}

.bot-info-success sup {
  line-height: 0;
}

.bot-info-success li {
  line-height: 2;
  position: relative;
  padding-left: 2em;
}

.bot-info-success ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.bot-info-success li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1em;
  color: var(--green-100, #15803d);
  background-color: var(--green-900);
  padding: 0.2em 0.3em;
  border-radius: 50%;
  font-weight: 700;
}

.bot-info-content-source {
    font-size: 1.2em;
    font-weight: bold;
}

.bot-info-alert {
  color: var(--red-900);
  border: 1px solid var(--red-900);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--red-100);
}


.bot-info-success[aria-hidden="true"],
.bot-info-alert[aria-hidden="true"] {
  display: none;
}

.bot-info-alert[aria-hidden="false"],
.bot-info-success[aria-hidden="false"] {
  display: block;
}

.bot-info-admin-note {
  font-style: italic;
  border: 1px solid var(--blue-700);
  background-color: var(--blue-100);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.bot-info-user {
  font-weight: bold;
  color: var(--blue-900);
}
