.bot-info-success {
    border-radius: 10px;
}

.bot-info-success sup {
  line-height: 0;
}

.bot-info-success li {
  line-height: 2;
  position: relative;
  padding-left: 2em;
}

.bot-info-success ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.bot-info-success li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1em;
  color: light-dark(var(--green-100), var(--green-1200));
  background-color: light-dark(var(--green-900), var(--green-500));
  padding: 0.2em 0.3em;
  border-radius: 50%;
  font-weight: 700;
}

.bot-info-content-source {
    font-size: 1.2em;
    font-weight: bold;
}

.bot-info-alert {
  color: light-dark(var(--red-900), var(--red-500));
  border: 1px solid light-dark(var(--red-900), var(--red-500));
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: light-dark(var(--red-100), var(--red-1200));
}


.bot-info-success[aria-hidden="true"],
.bot-info-alert[aria-hidden="true"] {
  display: none;
}

[aria-hidden="true"] {
  display: none;
}

.bot-info-alert[aria-hidden="false"],
.bot-info-success[aria-hidden="false"] {
  display: block;
}

.bot-info-admin-note {
  font-style: italic;
  border: 1px solid light-dark(var(--blue-700), var(--blue-500));
  background-color: light-dark(var(--blue-100), var(--blue-1200));
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.bot-info-admin-note a {
  color: light-dark(var(--blue-900), var(--cyan-500));
}

.bot-info-user {
  font-weight: bold;
  color: light-dark(var(--blue-900), var(--blue-500));
}

.bot-info-welcome {
  margin-top: 20px;
  background-color: light-dark(var(--green-100), var(--green-1200));
  border: 1px solid light-dark(var(--green-900), var(--green-500));
  border-radius: 10px;
  padding: 10px;
}

.bot-info-welcome a {
  color: light-dark(var(--blue-900), var(--cyan-500));
}