/* PrismJS 1.29.0 (Default), slightly altered
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+json */

code[class*='language-'],
pre[class*='language-'] {
  color: var(--color-text);
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

pre[class*='language-'] {
  overflow: auto;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: light-dark(#708090, #8b949e);
}

.token.punctuation {
  color: light-dark(#999, #8b949e);
}

.token.namespace {
  opacity: 0.8;
}

.token.property {
  color: light-dark(#4b0082, #d2a8ff);
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.symbol,
.token.tag {
  color: light-dark(#905, #ff7b72);
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: light-dark(#690, #a5d6ff);
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: light-dark(#9a6e3a, #ffa657);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: light-dark(#07a, #ff7b72);
}

.token.class-name,
.token.function {
  color: light-dark(#dd4a68, #d2a8ff);
}

.token.important,
.token.regex,
.token.variable {
  color: light-dark(#e90, #ffa657);
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
