.site-admin [aria-hidden='true'] {
  display: none;
}

.site-admin #site-admin-form {
  display: grid;
  gap: var(--spacing-s);
}

.site-admin #site-admin-form .button-wrapper {
  align-self: center;
}

.site-admin ol#sites-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-admin ol#sites-list li {
  padding: var(--spacing-s) 0;
  border-top: var(--border-s) solid var(--gray-300);  
  display: grid;
  grid-template-areas: "id button" "details details";
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
}

.site-admin .sites-list-button-bar {
  display: flex;
  justify-content: end;
}

.site-admin .sites-site-name {
  grid-area: id;
  font-size: var(--body-size-xl);
  font-weight: bold;
}

.site-admin .sites-site-edit {
  grid-area: button;
}

.site-admin .sites-site-details {
  grid-area: details;
  margin-top: var(--spacing-m);
  padding-top: var(--spacing-m);
  border-top: var(--border-s) solid var(--gray-300);  
}

.site-admin-oinw {
  margin-bottom: -2px;
  margin-left: 4px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}

.site-admin-oinw::after,
.site-admin-oinw::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px;
}

.site-admin-oinw::after {
  width: 10px;
  height: 2px;
  background: currentcolor;
  transform: rotate(-45deg);
  bottom: 8px;
}

.site-admin-oinw::before {
  width: 6px;
  height: 6px;
  top: 4px;
  border-top: 2px solid;
  border-right: 2px solid;
}