/* Console block styles */
.console {
  max-width: 100%;
  padding: 0.6em 0;
  overflow-x: auto;
  max-height: calc(100dvh - var(--header-height));
}

@media (width >= 600px) {
  .console {
    max-height: unset;
  }
}

.console table {
  width: calc(100% - 1px);
  border-collapse: collapse;
  font-size: var(--body-size-m);
}

.console tbody {
  position: relative;
}

.console tbody::before,
.console tbody::after {
  content: '';
  position: absolute;
  left: calc(-0.5 * var(--border-s));
  right: calc(-0.5 * var(--border-s));
  height: 0.6em;
  border: var(--border-s) solid var(--color-border);
  background-color: var(--color-background);
}

.console tbody::before {
  top: calc(-1 * 0.6em);
  border-bottom: 0;
  border-radius: var(--rounding-m) var(--rounding-m) 0 0;
}

.console tbody::after {
  top: 100%;
  border-top: 0;
  border-radius: 0 0 var(--rounding-m) var(--rounding-m);
}

.console th,
.console td {
  padding: 0.6em 0.7em;
  text-align: left;
  background-color: var(--color-background);
}

.console tbody td {
  white-space: nowrap;
}

.console tbody tr:first-of-type td {
  padding-top: 0;
}

.console tbody tr:last-of-type td {
  padding-bottom: 0;
}

.console tbody tr {
  font-family: monospace;
  font-size: var(--body-size-xs);
  border-left: var(--border-s) solid var(--color-border);
  border-right: var(--border-s) solid var(--color-border);
}

.console tbody tr + tr {
  border-top: var(--border-s) solid var(--color-border);
}

.console .status-light {
  --status-bg: light-dark(var(--gray-100), var(--gray-800));
  --status-color: light-dark(var(--gray-900), var(--gray-400));

  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 600;
  background-color: var(--status-bg);
  color: var(--status-color);
}

.console .status-light.http2,
.console .status-light.level-success {
  --status-bg: light-dark(var(--green-100), var(--green-1200));
  --status-color: light-dark(var(--green-900), var(--green-400));
}

.console .status-light.http3,
.console .status-light.level-warning {
  --status-bg: light-dark(var(--yellow-100), var(--yellow-1200));
  --status-color: light-dark(var(--yellow-900), var(--yellow-400));
}

.console .status-light.http4,
.console .status-light.http5,
.console .status-light.level-error {
  --status-bg: light-dark(var(--red-100), var(--red-1200));
  --status-color: light-dark(var(--red-900), var(--red-400));
}

.console .status-light.level-info {
  --status-bg: light-dark(var(--blue-100), var(--blue-1200));
  --status-color: light-dark(var(--blue-900), var(--blue-400));
}
