:root {
  /* powerscore colors - using global themed variables where possible */
  --link-color: var(--color-link);
  --link-hover-color: var(--color-link-hover);
  --background-color: var(--color-background);
  --text-color: var(--color-text);
  --light-color: light-dark(var(--gray-100), var(--gray-700));
  --dark-color: light-dark(var(--gray-300), var(--gray-600));
  --success-color: rgb(0 136 0);
  --improve-color: rgb(255 170 51);
  --error-color: rgb(217 48 37);
}

/* powerscore-specific styles scoped to main */
main a.button:any-link,
main button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-button-emphasis-text);
  background-color: var(--color-button-emphasis-bg);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

main a.button:hover,
main a.button:focus,
main button:hover,
main button:focus {
  background-color: var(--color-button-emphasis-bg-hover);
  cursor: pointer;
}

main button:disabled,
main button:disabled:hover {
  background-color: var(--color-button-disabled-bg);
  color: var(--color-button-disabled-text);
  cursor: unset;
}

main a.button.secondary,
main button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--color-text);
}

main .icon {
  font-size: 24px;
}